html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

html, body {
  height: 100%;
  width: 100%;
  * {
    box-sizing: border-box;
  }
}
header {
  height: 60px;
}
main {
  min-height: calc(100vh - 120px);
}
section {
  color: #fff;
}
#about {
  background-image: linear-gradient(to top, #F2C2C7 0%, #FFCCD2 100%);  
}
#work {
  background-image: linear-gradient(to top, #1E265C 0%, #121738 100%);      
}
#contact {
  background-image: linear-gradient(to top, #7DE0E6 0%, #86F1F7 100%);
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
footer {
  height: 60px;
}