html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  border: 8px solid #fff;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
a {
  text-decoration: none;
  cursor: pointer;
}
html, body {
  min-height: 100%;
  width: 100%;
}
html * {
    box-sizing: border-box;
    color: #fff;
  }
header {
  height: 60px;
}
main {
  min-height: calc(100vh - 120px);
}
section {
  color: #fff;
}
nav, footer .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
nav ul, footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li, footer ul li {
  display: inline;
  margin: 0 8px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 15px;
  @media all and (min-width: 1200px) {
    max-width: 1170px;
  }
  @media all and (min-width: 992px) and (max-width: 1200px){
    max-width: 970px;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
    max-width: 750px;
  }
  
}
/*#about {
  background-image: linear-gradient(to top, #F2C2C7 0%, #FFCCD2 100%);  
}
#work {
  background-image: linear-gradient(to top, #1E265C 0%, #121738 100%);      
}
#contact {
  background-image: linear-gradient(to top, #7DE0E6 0%, #86F1F7 100%);
}*/
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
footer {
  height: 60px;
}
.caseStudy {

}
.caseStudy .expanded {
  display: none;
}