html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  border: 8px solid #fff;
  background-image: linear-gradient(to top, #EDB5BD 0%, #ff8fa4 100%);  
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

html, body {
  min-height: 100%;
  width: 100%;
}
html * {
    box-sizing: border-box;
    color: #fff;
  }

a {
  text-decoration: none;
  cursor: pointer;  
}

#header {
  min-height: 60px;
}
main {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  color: #fff;
}

nav, footer .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
nav ul, footer ul, .expanded .breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.expanded .breadcrumbs {
  margin-bottom: 32px;
}
nav ul li, footer ul li, .expanded .breadcrumbs li {
  display: inline;
  margin: 0 8px;
  font-weight: 300;
}

#homenavlink {
  font-size: 32px;
  font-weight: 300;
}
nav a, footer a, footer a i {
  letter-spacing: 1px;
  color: rgba(255,255,255,.7);
  transition: .15s ease;
  font-weight: 300;
}
footer i.fa {
  font-size: 1.5em;
}
nav a:active, nav a:hover, nav a.active, footer a:active, footer a:hover, footer a i:hover {
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 16px;
  @media all and (min-width: 1200px) {
    max-width: 1170px;
  }
  @media all and (min-width: 992px) and (max-width: 1200px){
    max-width: 970px;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
    max-width: 750px;
  }
  
}
#topnav, footer .container {
  padding: 16px;
}


/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
footer {
  min-height: 60px;
}
section > header.container {
  width: 90%;
  padding: 32px 16px;
}
#about * {
  text-shadow: 0 3px 1px rgba(0,0,0,.1);
}
#about a {
  color: #121738
}
#work a {
  color: #ff8fa4;
  transition: .15s ease;
}
#work a:hover, #about a:hover {
  text-decoration: underline;
}
header *, footer * {
  text-shadow: 0 3px 1px rgba(0,0,0,.1);
}
.caseStudies {
  background-color: #fff;
  color: #333;
  width: 90%;
  padding: 32px 16px;
  margin-bottom: 32px;
}
.caseStudies * {
  color: #333;
}
.caseStudy {
  float: none;
  clear: both;
  margin-bottom: 48px;
  border-bottom: 3px solid #121738;
}
.caseStudy header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.caseStudy header h2 {
  margin-top: 0;
}
.caseStudy header .left, .caseStudy header .right {
  width: 50%;
  padding: 0 32px;
}
.caseStudy header .left { 
  text-align: right;
}
.caseStudy header .right {
  overflow: hidden;
  max-height: 300px;
}
#memdir .left {
  order: 2;
  text-align: left;
}
#memdir .right {
  order: 1;
}
.caseStudy .expanded {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  color: #333;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  background-image: linear-gradient(to top, #EDB5BD 0%, #ff8fa4 100%);  
  border: 8px solid #fff;
  box-sizing: border-box;
}
.caseStudy .expanded * {
  color: #333;
}
.caseStudy header img {
  display: block;
  width: 100%;
}

.caseStudy .expanded .container {
  width: 90%;
  padding: 32px 16px;
  background-color: #fff;
  margin: 48px auto;

}
.caseStudy .expanded .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.caseStudy .expanded .gallery a {
  max-width: 200px;
  padding: 8px;
}
.caseStudy .expanded .gallery a img {
  display: block;
  width: 100%;
  height: auto;
}
.image-wrapper {
  max-width: 600px;
}
.image-wrapper img {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.wrapper {
  display: block;
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
  margin: 16px auto;
}
.wrapper iframe {
  width: 100%;
}
#scroll-up {
  position: fixed;
  right: 1%;
  bottom: 5%;
  color: #fff;
}
#scroll-up i.fa {
  font-size: 3em;
  z-index: 99999999;
  color: rgba(255,255,255,.7); 
}
#scroll-up:hover i.fa, #scroll-up i.fa:hover {
  color: #fff;
}
@media all and (max-width: 768px){
  .caseStudy header {
    flex-direction: column;
  }
  .caseStudy header .left, .caseStudy header .right {
    width: 100%;
    text-align: center !important;
  }
  .caseStudy header .left {
    margin-bottom: 16px;
  }
  #memdir .left {
    order: 1;
  }
  #memdir .right {
    order: 2;
  }
  nav, footer .container {
    flex-direction: column;
  }
  #topnav {
    text-align: center;
  }
  #homenavlink, footer .email {
    padding-bottom: 16px;
  }
  section > header.container {
    text-align: center;
  }
}